 <!-- <div class="navbar-fixed-top">
    <div class="container-fluid"> 
 <nav class="navbar navbar-light " style="background-color: #261d74;">
  <div>
    <a class="navbar-brand" href="#" [routerLink]="['/']" >
      <img src="./assets/icon.jpeg" width="30" height="30" class="d-inline-block" alt="" id="logo">
     <b style="color: aliceblue">CODECART</b> 
    </a>
      <a [routerLink]="['/cart']" class="button fancy-button">
        <i class="material-icons">shopping_cart</i>MyCart</a>
        </div>
        
  </nav> 
</div>
</div> -->
<div class="navbar-fixed-top">

<nav class="main-navigation " style="background-color: #261d74;">
  <div class="navbar-header animated fadeInUp"  >
    <a class="navbar-brand" href="#" [routerLink]="['/']" > 
      <img src="./assets/icon.jpeg" width="30" height="30" class="d-inline-block" alt="" id="logo">
      <b style="color: aliceblue ;">CODECART</b></a>
  </div>
  <ul class="nav-list "  >
      <li class="nav-list-item"style="color: aliceblue">
          <a href="#" class="nav-link" [routerLink]="['/']">Home</a>
      <li class="nav-list-item"style="color: aliceblue">
          <a href="#" class="nav-link">Login</a>
      </li>
      <li class="nav-list-item">
          <a class="nav-link" [routerLink]="['/about_us']">About Us</a>
      </li>
      <li class="nav-list-item">
          <a href="#" class="nav-link">Wishlist</a>
      </li>
      <li class="nav-list-item">
          <a href="#" class="nav-link">notifications</a>
      </li>
      <li class="nav-list-item">
        <a [routerLink]="['/cart']" class="button fancy-button">
          <i class="material-icons">shopping_cart</i>MyCart</a>
      </li>
  </ul>

</nav>
</div>



<!-- <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#" [routerLink]="['/']"><img src="./assets/icon.jpeg" width="30" height="30" class="d-inline-block align-top" alt="" id="logo">
        <b style="color: aliceblue">CODECART</b> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
              <a [routerLink]="['/cart']" class="button fancy-button">
                <i class="material-icons">shopping_cart</i>MyCart</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
